[2019-07-18 02:32] tolunFdancer opened #2 "what is the difference between DPDK_SURICATA-4_1_1 and DPDK-Suricata_3.0?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-18 03:50] vipinpv85 commented on #2
@tolunFdancer tolunFdancer I have to assume the title is your question `what is the difference in DPDK suricata 3.0 vs 4.1.1`?

Answer>

[code]

[2019-07-18 03:50] #2 closed, assigned to QiiHeng3, tolunFdancer

[2019-07-18 06:37] tolunFdancer commented on #2
I want to use suricata as IDS with dpdk to capture and parse packets, which one should I choose? 4.11 or 3.0?

[2019-07-18 08:31] vipinpv85 commented on #2
3.0 is done.
4.1.1 is work in progress

[2019-07-18 08:53] tolunFdancer opened #3 "runmode-dpdk.h:60:19: error: ‘RTE_MAX_ETHPORTS’ undeclared here (not in a function)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-18 08:55] vipinpv85 commented on #3
please run 'grep -nr dpdk config.log' in you folder.

note: I am not sure why are sending me

[code]

[2019-07-18 09:11] tolunFdancer commented on #3
Thanks! I just want to konw if you had already face the question.
Now I meet this error when I run "make -j 10" :   DPDK_SURICATA-4_1_1-master/suricata-4.1.4/src/suricata.c:912: undefined reference to `TmModuleReceiveDpdkRegister'.
If you could help me ,thank you very much!

[2019-07-18 09:26] vipinpv85 commented on #3
project 4.1.4 is work in progress, hence you will be seeing build issues.

In my local branch, I have fixed these and have a functional working model (no data processing yet).

[2019-07-18 09:26] #3 closed, assigned to tolunFdancer

[2019-07-18 12:09] tolunFdancer commented on #3
So when can you commit this fix?

[2019-07-18 12:17] vipinpv85 commented on #3
In my spare time. Surprised with your request since I have already mentioned 4.1.1 is work in progress. While 3.0 is fully functional

[2019-07-19 00:15] tolunFdancer commented on #3
Thanks ! Sorry for waste your time.

[2019-07-19 00:20] vipinpv85 commented on #3
The files are added, hence you would face the issue. It is not about wasting time. If you want a working prototype use 3.0.

[2019-07-19 00:20] vipinpv85 commented on #3
Files are uploaded. If you want a working prototype please try 3.0

[2019-07-19 03:10] tolunFdancer commented on #3
Thanks. When I run "make -j 10" whit 3.0, it turns out "app-layer-smtp.c:388:17: error: ‘for’ loop initial declarations are only allowed in C99 mode" . I tryed with "CFLAGS=-std=gnu99 make -j 10", still do not work. Can you give me some advices, Thanks a lot!

[2019-07-19 03:19] vipinpv85 commented on #3
https://stackoverflow.com/questions/29338206/error-for-loop-initial-declarations-are-only-allowed-in-c99-mode

or
update g++

[2019-08-20 02:48] tolunFdancer opened #4 "When the DPDK_suricata4.1.1 could instead of DPDK_suricata3.0?"
Hi，I wanna konw when the DPDK_suricata4.1.1 could work. Now I run DPDK_suricata3.0 successful, I want to updata DPDK_suricata3.0 to DPDK_suricata4.1.1.

[2019-08-20 07:33] vipinpv85 commented on #4
Hi @tolunFdancer, thanks for the question. I try to work on the same in my spare time. I would like to complete basic functions with offload within 2 months.

Please feel free to contribute too.

[2019-08-20 07:33] #4 closed, assigned to nobody

[2019-09-03 15:44] tritm opened #5 "Error when running suricata in container"
When running dpdk in docker container, I got the following error
root@bb5ca8ba6747:~/DPDK_SURICATA-4_1_1/suricata-4.1.4# suricata --dpdk=mysuricata.cfg
3/9/2019 -- 15:43:17 - <Notice> -  DPDK Mode selected
3/9/2019 -- 15:43:17 - <Notice> - This is Suricata version 4.1.4 RELEASE
*** Error in `/root/DPDK_SURICATA-4_1_1/suricata-4.1.4/src/.libs/lt-suricata': malloc(): memory corruption: 0x0000000000f

[2019-09-04 04:21] vipinpv85 commented on #5
Hi @tritm,

Can you help me understand your environment better

1. Docker OS:
2. CPU cores:
3. memory assigned:
4. Complete logs:
5. step in trace from GDB core dump (build with -g)

Early Analysis:
1. 'DPDK Mode selected' is from 'ParseCommandLine' on slecting '--dpdk'
2. It looks like error is from 'GlobalsInitPreConfig' where malloc has failed.
3. if it have suceeded we will have 'ParseDpdkYaml

[2019-09-06 04:08] vipinpv85 commented on #5
@tritm can you share your updates?

[2019-09-09 01:44] vipinpv85 commented on #5
@tritm I am closing the ticket for now as there is no update. Please feel free to reopen once enough information is collected.

[2019-09-09 01:44] #5 closed, assigned to tritm, yasufum

[2019-09-17 01:08] QiiHeng3 commented on #2
Does 4.1.1 completed and could used to product enviroment? Thank you!

[2019-09-17 01:44] vipinpv85 commented on #2
It is not complete. Work in progress in spare. Appreciate help in design, coding and testing.

[2019-10-21 06:17] Onotoko opened #6 "Suricata as a lib"
Hello,
I am wondering why do we use suricata as a lib in DPDK instead of DPDK as a lib of suricata.

If so we can easy to handle suricata

[2019-10-21 06:50] vipinpv85 commented on #6
I am not fully clear with your query, but let me try

1. DPDK libraries can be built with `.so` or `.a` mode.
2. DPDK applications are built with dpdk libraries and other 3rd party libraries.
3. Suricata is built as an application with `main` present in `suricata.c`

[question] why do we use suricata as a lib in DPDK
[Answer] Can you please point me to the location where you get this information?

[2019-10-21 06:50] #6 closed, assigned to Onotoko

[2019-10-21 07:14] Onotoko commented on #6
@vipinpv85,
Thank you,
It makes sense now.

I want to build DPDK as load balancer, each application as suricata can run. That's why I ask you.

[2019-10-21 10:07] vipinpv85 commented on #6
[Question] can we use DPDK to run a load balancer as multiple instances of suricata
[Answer] is yes.

1. The physical interface on DPDK gets packets from the external world.
2. VHOST, TAP or KNI interface sends to the virtual interface.
3. Multiple suricata instances feed on the traffic on a virtual interface.

example: port 1 ==> DPDK load balancer ==> virtual instance "tap1, tap2, tap3"

suricat

[2019-10-21 12:48] Onotoko commented on #6
Thank you for kindly

I will do DPDK load balancer with suricata, bro.

[2019-10-29 07:45] tritm commented on #5
Hello @vipinpv85 I'm sorry for late reply, I re-install the system and got the following error
root@e8b92d967404:~/DPDK_SURICATA-4_1_1/suricata-4.1.4# suricata --dpdk=mysuricata.cfg
29/10/2019 -- 07:34:19 - <Notice> -  DPDK Mode selected
29/10/2019 -- 07:34:19 - <Notice> - This is Suricata version 4.1.4 RELEASE
...
EAL: FATAL: Invalid 'command line' arguments.
29/10/2019 -- 07:34:19 - <Error> - [E

[2019-10-29 08:29] vipinpv85 commented on #5
1. The hint from your logs is `EAL: FATAL: Invalid 'command line' arguments.` and not just `ERRCODE: SC_ERR_DPDK_CONFIG(319)] - No DPDK ports found`.
2. The application is built with `-Wl,-lrte_pmd_vhost ` in `src/Makeilfe`, hence I do not assume this is cause.
3. You have mentioned in cfg `--vdev=virtio_user1,queues=1,path=/var/run/usvhost*`

The only place left to look is `vhost` server-side. Ca

[2019-10-30 03:32] vipinpv85 commented on #6
if you are interested to help, please update the code base as a separate tag. This will help other too.

[2019-10-30 03:33] vipinpv85 commented on #4
@tolunFdancer are you helping us to work of any items? Please do update your plans so I can work as updated ASAP.

[2019-10-30 03:34] vipinpv85 commented on #3
if there are no updates, I assume this was some environment or gcc issue.

[2019-10-30 03:35] vipinpv85 commented on #2
@ahubaoan are there any plans from your end to design, contribute or test the same?

[2019-10-31 10:01] tritm commented on #5
Thank you for your quick reply:
1. how are you creating the server instance of vhost?
I use [spp](https://spp.readthedocs.io/) which is dpdk switch to create vhost
2. Is the server instance running, when you run the dpdk-suricata application?
Sure it is running
3. before running the dpdk-suricata, can you ls /var/run/usvhost*
I have ls /var/run in the docker container and see both usvhost*
4. dpdk

[2019-10-31 10:33] vipinpv85 commented on #5
hi @tritm

here is the difference I feel

1. On the host you run testpmd with `dpdk applciation like l2fwd, testpmd, or basicfwd runs with --vdev=virtio_user1,queues=1,path=/var/run/usvhost1` - it works

2. On the docker instance do you run `dpdk applciation like l2fwd, testpmd, or basicfwd runs with --vdev=virtio_user1,queues=1,path=/var/run/usvhost1`? If yes does it work? If yes, as part of dock

[2019-10-31 11:19] vipinpv85 commented on #5
I am waiting for your updates and login details. Please share

[2019-11-01 02:27] tritm commented on #5
@vipinpv85
2. On the docker instance, I run testpmd with --vdev virtio_user1,queues=1,path=/var/run/usvhost1
and it works
3. About my server log in details, do you use any other private channel as: Telegram so I can share it with you?

I added @yasufum san, the author of spp switch on dpdk so that we can find out the solution for this problem together

BR
Tri

[2019-11-01 06:28] vipinpv85 commented on #5
I am not sure how telegram can do ssh port or socks forward. If you are talking about suricat.log you can try to increase dpdk verbose '--log-level=eal,8' and analyze what is going wrong.

Else as mentioned can you share your ssh details

[2019-11-01 07:29] tritm commented on #5
@vipinpv85 I would like to send you my ssh details to login to my server via a private channel such as Telegram, or any other that is convinient to you

[2019-11-01 07:46] tritm commented on #5
I got this error when re-install it:
I dont know why it relates to memory
root@414b32b6e041:~/DPDK_SURICATA-4_1_1/suricata-4.1.4# suricata --dpdk=mysuricata.cfg
1/11/2019 -- 07:35:11 - <Notice> -  DPDK Mode selected
1/11/2019 -- 07:35:11 - <Notice> - This is Suricata version 4.1.4 RELEASE
*** Error in `/root/DPDK_SURICATA-4_1_1/suricata-4.1.4/src/.libs/lt-suricata': malloc(): memory corruption: 0x

[2019-11-01 08:54] vipinpv85 commented on #5
You can reach me in linkedin, gmail or skype id is vipinpv85

[2019-11-01 08:55] vipinpv85 commented on #5
This is suricata app stating it can not malloc the heap space while running in the environment

[2019-11-04 04:37] vipinpv85 commented on #5
Thanks for the debug terminal, on the investigation, it is clear the net_vhost is dropping TX packets from host to VM or container. Hence using HOST to Docker is not working on the given environment.

I have tested similar on my enviroment.

Ubuntu: Ubuntu 18.04.3 LTS
uname -r: 4.15.0-65-generic
DPDK: dpdk-stable-18.11.3
Host:
cmd-1: ./build/l2fwd -l 3-4 --vdev 'eth_vhost0,iface=/tmp/sock0' --file

[2019-11-04 08:57] Onotoko commented on #6
Thank you,

I will create new repo on my github and do it.

[2019-11-04 09:15] tritm commented on #5
Dear @vipinpv85

It's very kind of you spending time and effort to troubleshoot the problem for me. I'm very appreciate it.

"it is clear the net_vhost is dropping TX packets from host to VM or container. Hence using HOST to Docker is not working on the given environment"

When I check your 2 cmds in my environment, I see
![image](https://user-images.githubusercontent.com/1323966/68109755-eef9e600

[2019-11-04 09:31] QiiHeng3 commented on #2
Why not use dpdk-symmetric-RSS directly?
for muti-RX thread and suricata run as worker mode

[2019-11-04 10:42] yasufum commented on #5
Hi Vipin,

I am Yasufumi Ogawa. I am trying to run suricata on container with Tri.

Could I confirm how you launch container itself because vhost is working
on my environment.

Here is my results by using l2fwd and testpmd, though I am using DPDK
v18.08 on host and v19.08 for some reason. I can run other than testpmd
on container such as l3fwd or pktgen. So, I think suricata is also
possible to ru

[2019-11-04 14:02] vipinpv85 commented on #6
sure, once you are comfortable with the code changes you can share git pull request to merge

[2019-11-04 14:15] vipinpv85 commented on #2
I am not convinced with this approach, because

1. Creating symmetric RSS and spreading the workload to multiple queues is useful if the task is to receive packets and do the process in same instance.

2. One would require additional threads, to do an activity.

ie: if there is 10G interface and 4 RX queues in ideal world you would get 2.5G per interface by using 4 RX threads. But each CPU core tu

[2019-11-04 14:28] vipinpv85 commented on #5
[VV] during my debug with Tri, we have not launched in a container

itself because vhost is working on my environment.
[VV] that is good. now you can try running CMD-2 in the container with path shared to VM

[2019-11-04 15:09] vipinpv85 commented on #5
Here is my results by using l2fwd and testpmd, though I am using DPDK v18.08 on host and v19.08 for some reason.
I can run other than testpmd on container such as l3fwd or pktgen.
[VV] on host you have DPDK v18.08 and container you using v19.0. From host packet are sent to cotnainer. So your ideal
enviroment should be

Host: Physical interface ==> DPDK app like example/skeletion or example/l2fwd t

[2019-11-04 15:12] vipinpv85 commented on #5
@yasufum you can refer to the link which I had shared yesterday to TRi https://doc.dpdk.org/guides/howto/virtio_user_for_container_networking.html

[2019-11-04 15:18] vipinpv85 commented on #5
so please ensure, cmd-1 and cmd02 works on host. If yes, then terminate cmd-2 and run on cotnainer

[2019-11-05 01:13] QiiHeng3 commented on #2
I am not familiar with dpdk, but after understanding it, I know that dpdk has the advantage of reducing cpu interrupt, zero copy, and cache miss to improve performance.

If we can handle the entire stream through one thread, ie:
               [DPDK receive -> suricata worker]
Whether these advantages can improve the overall speed:
A.use suricata worker mode, do not need any thread lock
B.hash at

[2019-11-05 03:18] vipinpv85 commented on #2
A.use suricata worker mode, do not need any thread lock
[VV] this is done

B.hash at dpdk, it is very fast
[VV] asking NIC to do RSS hash is faster than CPU hash.

C.zero copy form dpdk
[VV] currently DPDK-Suricata is zero copy mode.

D.most nic driver has 32/64 combined, in most cases my cpu is 32 threads or 64 threads, exactly match
[VV] NIC can have upto 128 RX queues per port also, but it is d

[2019-11-05 05:12] yasufum commented on #5
@vipinpv85
Thank you for your comments.

Sorry for lack of explaining about my env. In my container, I have built DPDK from source and set RTE_SDK.

[vv] I do not mind if you testpmd or any other example. But please ensure it works

Container has two ports, rx and tx, and traffic is generated in testpmd containr. As shown in pictures I sent your gmail, it looks working fine.

[vv] I am not sure if

[2019-11-05 05:31] vipinpv85 commented on #5
@yasufum your colleague Tri has pinged me stating you have new setup and it is working. Please avoid double information as it is confusing.

[2019-11-05 06:45] QiiHeng3 commented on #2
First of all, thank you for answering my question all the time.

I just want the easiest and quickest way to make a DPDK+suricata IDS

Your DPDK-Suricata_3.0 version has implemented most of the features, but I found that your DPDK-Suricata_3.0 version seems to only use one thread. Although it runs in woker mode, the whole stream is only one thread and cannot use CPUs completely. Why not do multith

[2019-11-05 07:57] vipinpv85 commented on #2
@ahubaoan it is clear from the above

[VV] Suricata version ported `3.1.2 `

 version has implemented most of the features, but I found that your DPDK-Suricata_3.0 version seems to only use one thread.
[VV]This is not correct understanding.

 Although it runs in woker mode, the whole stream is only one thread and cannot use CPUs completely.
[VV] if you are talking about Suricata worker mode, pleas

[2019-11-05 08:05] vipinpv85 commented on #2
@ahubaoan I ma happy if you are willing to contribute to your design as you suggested as

`DPDk Phycial NIC ==> DPDK RX thread (RSS) ==> multiple worker.`

But please refer to the following.
1. `Receive Side Scaling is a technique used by network cards to distribute incoming traffic over various queues on the NIC. This is meant to improve performance but it is important to realize that it was desi

[2019-11-05 11:31] QiiHeng3 commented on #2
I found out that you commented on the function rte_eal_remote_launch(), why?

I think about whether this method works:
1. Modify dpdk code to support symetric-RSS, like https://haryachyy.wordpress.com/2019/01/18/learning-dpdk-symmetric-rss/
2. Each nic RX QUEUE is bound to a thread
3. Modify suricata, bind each worker's thread loop function to dpdk thread with rte_eal_remote_launch instead of crea

[2019-11-05 11:41] vipinpv85 commented on #2
please do analysis and share me the reason why I have done the same.

If you can get cpu hash faster than nic hardware please share your findings.

Already explained bottle neck is suricata stages

Yes, that is already done

 with rte_eal_remote_launch instead of creating a thread in suricata.
😀 Please think or try and let me know why it is not a good idea

This is clear indication you have not go

[2019-11-05 11:43] vipinpv85 commented on #2
If the plan is share ideas, please use the template and raise in right forum. If these are arguments plaese support with proof.

[2019-11-06 10:19] vipinpv85 commented on #5
updating for future reference, Minutes of troubleshooting

1. Tried on 16.04 and 18.04 Ubuntu release, both environment test scenario failed.
2. Ran with both dpdk-stable-17.11.7 and dpdk-stable-18.11.2 (failed).
3. Found problem a. for new console default path is `dpdk` and not 'dpdk-stable-*' (corrected the same)
4. Found problem b. running from `build` folder is not able to fetch address. (corr

[2019-11-06 14:12] vipinpv85 commented on #2
@ahubaoan Have you found the answers to update us all?

[2019-11-07 11:12] tritm commented on #5
@vipinpv85 I changed to other server but still got the same problem

![image](https://user-images.githubusercontent.com/1323966/68384236-c70eba80-0189-11ea-891c-06437afea366.png)
dpdk-stable-18.11.3

[2019-11-07 12:26] vipinpv85 commented on #5
@tritm did you check the parameters suggested yesterday over skype? (is vt-d enabled in bios and `iommu=pt intel_iommu=on` enabled in KERNEL CMD LINE?

@yasufum have you cross-checked did cmd1 and cmd2 really worked on your setup?

note:
1. the reason for your error is vhost driver is not getting `vring_state_changed`.
2. Looks like your environment is not happy to share vhost notification from pr

[2019-11-07 12:40] vipinpv85 commented on #5
the reason for your error is vhost driver is not getting `vring_state_changed`

[2019-11-07 13:54] vipinpv85 commented on #2
Answer to the query why can not one use 5 tuple symmetric hash is because `all fragments other than 1st packet the 5 tuple is absent making 3 tuple unusable for symmetric RSS`.

As I am not able to see any updates from @ahubaoan, I am assigning the task of updating this repository with the code of ` implementing SW or HW Symmetric Hashing for reassembled packets.` to @ahubaoan with current deadlin

[2019-11-07 15:21] vipinpv85 commented on #5
@tritm and @yasufum, while exploring more onto your problem I came across `https://www.dpdk.org/wp-content/uploads/sites/35/2018/12/YasufumiOgwa_Implementing-DPDK-based-Application-Container-Framework-with-SPP.pdf`. This helps me understand why you were using ubuntu 16.04 and dpdk 18.02.

there is an interesting point shared `Cannot work when there are more than VHOST_MEMORY_MAX_NREGIONS(8) hugepa

[2019-11-08 10:17] tritm commented on #5
@vipinpv85 have set the vt-d enabled on the server and already set intel_iommu=on but the results are still the same

[2019-11-08 10:26] vipinpv85 commented on #5
thanks for confirming, did you try what is been updated `@tritm and @yasufum, while exploring more onto your problem I came across https://www.dpdk.org/wp-content/uploads/sites/35/2018/12/YasufumiOgwa_Implementing-DPDK-based-Application-Container-Framework-with-SPP.pdf. This helps me understand why you were using ubuntu 16.04 and dpdk 18.02.

there is an interesting point shared Cannot work when t

[2019-11-08 10:27] vipinpv85 commented on #5
@yasufum are you also having same host problem?

[2019-11-08 10:44] vipinpv85 commented on #5
updating for future reference and others:

had skype debug with @tritm, requested multiple times to use the option from ` https://www.dpdk.org/wp-content/uploads/sites/35/2018/12/YasufumiOgwa_Implementing-DPDK-based-Application-Container-Framework-with-SPP.pdf`. Due to some personal @tritm does not want to try to fix the 4th issue in the environment.

`Hence I am unable to debug any further.  Test

[2019-11-08 10:52] tritm commented on #5
@vipinpv85 The vhost work now with the following 2 commands:
cmd-1: ./l2fwd -l 3-4 --vdev 'eth_vhost0,iface=/tmp/sock0' --file-prefix=host --no-pci -m 256 --single-file-segments -- -p 0x1 -T 1
cmd-2: ./l2fwd -l 2,4 -m 256 --vdev 'virtio_user0,path=/tmp/sock0' --no-pci --file-prefix=client --single-file-segments --vdev net_tap0,iface=test -- -p 0x3 -T 1
![image](https://user-images.githubuserconten

[2019-11-13 01:13] vipinpv85 commented on #5
Execute command 2 in docker while allowing command 1 on host

[2019-11-15 01:59] vipinpv85 commented on #2
I found @ahubaoan updates in other repository for dpdk-suricata. Which means you are still active. Least update us all with progress and early patch.

[2019-11-26 03:17] FLY199806 opened #8 "Package not logged to fast.log"
Hi
The Title is my ploblem.Here are some details.
I installed and tested the program on a six port physical machine. The first four network ports are bound with dpdk. I bind the image port on a switch to the first network port of dpdk, and then run the program in the way of readme. However, there is no log output to fast.log. So I bound the image port to another normal network port that is not bou

[2019-11-26 06:32] vipinpv85 commented on #8
[Answer] I am assuming the title is `Package not logged to fast.log` and not project title `DPDK_SURICATA-4_1_1`. I am not interested in changing the project title, hence will not be entertaining the same.

[Answer] My current implementation is not intended to run both DPDK and non DPDK port.

If this is a requirement, please use template for a feature and add a request and not as issue.

[Answer]

[2019-11-26 06:32] #8 closed, assigned to FLY199806

[2019-11-26 06:38] vipinpv85 commented on #5
@tritm and @yasufum can you share your updates. If no support is required, please do say so.

[2019-12-10 15:21] vipinpv85 commented on #5
@tritm and @yasufum; since there are no updates from your end I assume you got your environment working. but neither @tritm or @yasufum has updated the ticket so far. Not surprising based on the earlier interaction. Let the content be out there which might help people to debug.

[2019-12-12 12:49] yasufum commented on #5
@vipinpv85 , sorry for making no response for long time. Although I might not catch up everything after I dropped out, I understand that @tritm cannot run l l2fwd because for the restriction of 2M  hugepages.

On my environment on which I have 1G hugepages, I can run both of l2fwd on host and container, although some options are required for dokcer.

After run "cmd-1" on host and launch a containe

[2019-12-12 13:51] vipinpv85 commented on #5
@yasufum thank you for the update. Please find the comments below

`I understand that @tritm cannot run l l2fwd because for the restriction of 2M hugepages`
[VV] @tritm is able to run on host machines. Have suggested to run cmd2 on container no updates yet. With respect to 2M huge pages, the `file-segment` option is required for pages more than 512.

[2019-12-13 08:26] yasufum commented on #5
@vipinpv85 You are right. I've forgotten the option.

[2019-12-15 00:10] tritm commented on #5
Dear @vipinpv85, Thank you very much for your help.

[2020-01-15 09:23] Onotoko opened #9 "[Help] Error when trying to build suricata 5.0.0 and dpdk 18.11.2"
Hello @vipinpv85,
I have tried to build suricata 5.0.0 with dpdk 18.11.2 and I got an error:

[code]

I tried to run your code with dpdk 18.11.2 and it had no problem. but when I change it to suricata 5.0.0 it got a problem above.

Could you give me more comment for this situation?
Thanks in advance!

[2020-01-15 09:56] vipinpv85 commented on #9
I am assuming you have copied over the changes from baseline suricata 4.1.1 and tried building. Best of luck with the same.

With respect to issue you are facing, these are been discussed in couple of tickets in 3.0 and 4.1.1. it is not dpdk build issue, but more of autoconf and make ordering.

[2020-01-15 09:57] vipinpv85 commented on #9
I am closing the ticket and marking it invalid as it is not representing the project.

[2020-01-15 09:57] #9 closed, assigned to Onotoko

[2020-01-16 02:08] Onotoko commented on #9
Thank you @vipinpv85 ,
Let me check again makefile, configure ... once again

[2020-03-12 17:03] mjasojedov commented on #9
@Onotoko Hi, have you found the solution for your issue? I am facing the same one.

[2020-03-12 22:54] vipinpv85 commented on #9
@Onotoko and @mjasojedov the issue that you are facing is because of ordering in include files. The solution is to include dpdk.ueaders first.

[2020-05-12 16:54] vipinpv85 commented on #6
are there any code contributions from your end?

[2020-05-14 03:28] Onotoko commented on #6
@vipinpv85,
I have made 2 repositories for dpdk & suricata on my github

https://github.com/Onotoko/dpdk-gateway

Hopefully, it can help who needs to start working on this field

[2020-05-14 04:57] vipinpv85 commented on #6
hi @Onotoko are you sharing your code to the current repository via git pull? or is your ask something different?

[2020-05-14 05:19] vipinpv85 commented on #6
@Onotoko

1. dpdk-gateway is supposed to clone packets, so this means this is going to be used for only Suricata IDS mode (copy packet).

2. suricata-dpdk
a. ReceiveDpdkLoop -  is running infite for loop, you need not do this
b. configure_tx_buffer - you have enabled tx callback, what will be real advantage of invoking yet another function in run loop?
c. DpdkProcessPacket - is not using zero copy

[2020-05-14 05:22] vipinpv85 commented on #6
way I see the code base https://github.com/Onotoko/suricata-dpdk has taken up the idea and code from the original repository and hacked it to `PF_RING`.

as far I can understand PF_RING uses customized kernel driver and userspace topology. I am not sure if have permission to change the code based managed by

* \author William Metcalf <william.metcalf@gmail.com>
 * \author Eric Leblond <eric@regit.

[2020-05-14 05:22] vipinpv85 commented on #6
@Onotoko reach out to be on skype or hangout.

[2020-05-14 07:28] Onotoko commented on #6
@vipinpv85
1. `dpdk-balancer` is responsible for receiving the packet from NIC and load balancer to others application as suricata, ...

2. `suricata-dpdk` is a slave process, will read all packets from a ring (when dpdk-balancer pushes in) and handle it.

Yes I based on the idea of pf_ring handle in suricata

[2020-05-14 07:33] vipinpv85 commented on #6
@Onotoko As updated the solution works only for IDS and IPS mode. Suricata workers are the bottleneck, and using `rte_pktmbuf_clone` you have added overhead of late free.

you could have achieved the same with `rte_mbuf_refcnt_update`

[2020-05-14 07:43] Onotoko commented on #6
@vipinpv85,

`Suricata workers are the bottleneck, and using rte_pktmbuf_clone you have added overhead of late free.` -> What did you mean while  each thread of suricata will use another ring repectively?

 `you could have achieved the same with rte_mbuf_refcnt_update` -> You mean I can use  rte_mbuf_refcnt_update` instead of `rte_pktmbuf_clone`?

`DpdkProcessPacket - is not using zero copy, it is

[2020-05-14 07:44] vipinpv85 commented on #6
@Onotoko current code in dpdk-gateway `process_packets` is invoked which round-robins packets across rx_rings. This leads to workers getting flow-A on different worker-threads, leading to DPDk worker thread flow lock and reassembly locks.

Sharing the same set of issues as pointed out in

[2020-05-14 07:47] Onotoko commented on #6
@vipinpv85,
Thank you  information,
` round-robins packets across rx_rings` -> I am using RSS value to load balancer. I am considering  around  using 5 tuples for it

[2020-05-14 07:49] vipinpv85 commented on #6
1. I have evaluated your ideas and shared responses.
2. Issues with Primary-Secondary model in DPDK.
3. I did not hear from you or any git pull merge request.
4. What is your ask from me?

[2020-05-14 07:54] Onotoko commented on #6
`4. What is your ask from me?` -> No, I mean I added all author at beginning of a header file

`3. I did not hear from you or any git pull merge request.` ->  I am making the different solution with you, so I made another repository instead of making a pull request from you

`1.I have evaluated your ideas and shared responses` -> got it, I still have not a good solution fo rit

`2. Issues with Pri

[2020-05-14 07:54] vipinpv85 commented on #6
5 tuples suffers from same problem as discussed above

[2020-05-14 07:56] vipinpv85 commented on #6
if you really intend to collaborate you would have a clone, branched and push changes as git merge. I do not see them

[2020-05-14 07:56] Onotoko commented on #6
I see it is really a hard problem when I want to use the primary-secondary model, but I have seen rss solution is really good for now

[2020-05-14 07:58] Onotoko commented on #6
As I mentioned above, your model and my model are not the same. so cannot pull or push anything

[2020-05-14 07:59] vipinpv85 commented on #6
@Onotoko if you think this is true, I am happy to tell you observation is incorrect

[2020-05-14 08:00] vipinpv85 commented on #6
for your information, work item shared with Suricata team

Summary: description on DPDK build, library and run mode integration into dev branch of Suricata

Introduction:
1. DPDK is set of Hardware and Software library, that helps to run on userspace.
2. DPDK process is classified as Primary & Secondary, where huge pages and devices are shared between them.
3. For an existing application to be sup

[2020-05-14 08:05] Onotoko commented on #6
@vipinpv85,
Oh I see, I am adding ACL & ndpi as well to dpdk-balancer too.

We have the same observation

[2020-05-14 08:07] vipinpv85 commented on #6
this is already done

[2020-05-14 08:08] Onotoko commented on #6
`this is already done`

You are done with it @vipinpv85?

[2020-05-14 08:09] vipinpv85 commented on #6
did not follow you, it is there in repository https://github.com/vipinpv85/DPDK-Suricata_3.0.

[2020-05-14 08:11] Onotoko commented on #6
Sorry, I no have time for tracking your progress on your repositories so I don't know you are done with acl and ndpi.

I only work as my knowledge :)

[2020-05-14 08:15] vipinpv85 commented on #6
perfect :), I do not have time for asking or tracking every day where are you, are you contributing, are you stuck etc.

Based on your reply today, I have updated you.

note: I work based on spare time on this codebase, which is used by students, faculties, companies and others. So my answer is same for you, I do not understand what is your ask from me?

[2020-05-14 08:19] vipinpv85 commented on #6
best wishes

[2020-05-14 08:21] Onotoko commented on #6
`I do not understand what is your ask from me?` -> Before I start working with dpdk + suricata, I did search on the internet and I saw your source. That why I made this issue (Just want to get help from the previous person for right direction)

Thanks in advance

[2020-05-14 08:26] vipinpv85 commented on #6
My friend, this is a section for issues. your question was never an issue, but idea/suggestion/brainstorm. So if there nothing as an issue, let me again say best wishes.

[2020-07-05 06:32] vipinpv85 commented on #9
@Onotoko  and @mjasojedov  there are no updates from your, happy to say the issue is found and fixed in the current repository. Happy hunting

[2020-07-05 06:43] vipinpv85 commented on #2
based on the @ahubaoan comments, no contribution to this repository targeted emails, I have decided not to wait for @ahubaoan  suggestions as git merge request.

Have completed the functional logic with the performance of each worker thread around 1 million packets per sec. @tolunFdancer  you can try the same.

[2020-07-05 06:48] vipinpv85 commented on #4
basic DPDK Suricata with 4.1.4 is up and runing

[2020-07-20 11:49] bjdudu opened #10 "Failed to allocate mbuf error for RX when set rss queue to 16"
When I set the interface rss queue to 16, I got an error, the program worked well when I set rss queue to 8 and 4.

screenshot for the error:
![ips port1 error](https://user-images.githubusercontent.com/3258147/87934548-da687880-cac1-11ea-8950-8c0e9cfe634c.png)

dpdk settings:
![ips dpdk setting](https://user-images.githubusercontent.com/3258147/87934665-100d6180-cac2-11ea-97c2-52fe1e8e3351.png)

[2020-07-20 14:06] vipinpv85 commented on #10
answer to the problem you are facing is based on the edit you have done `failed to allocate RX queue mbuf`.  Please do the necessary change to `eal-args` to satisfy your queues..

[2020-07-20 14:06] #10 closed, assigned to bjdudu

[2020-07-28 09:29] startkz opened #11 "The ports always returns 0 when I run suricata"
Hi Vipin, thanks for your efforts!

I have installed DPDK-19.11.1 LTS successfully as follow：
![image](https://user-images.githubusercontent.com/39576474/88645096-52542580-d0f6-11ea-8d6e-493b8d5bc5f4.png)

I have also installed Suricata-4.1.4 on Ubuntu 16.04 LTS，but when I run suricata，the dpdk ports always returns 0：
![image](https://user-images.githubusercontent.com/39576474/88645588-db6b5c80-d0

[2020-07-28 11:36] vipinpv85 commented on #11
@startkz I assume you have a working knowledge with DPDK. Hence I assume you will easily be able to figure out why one should use l2fwd/skeleton/testpmd rather than bond example.

Hint:
- bond interface is not a Physcial interface, it is virtual interface created with multiple physical ports of DPDK.
-  for NIC to be available in DPDK one has to bind with DPDK via igb_uio or vfio-pci, please do th

[2020-07-29 01:01] vipinpv85 commented on #11
can you please check if you are using the latest version? If yes please add support for 1G Intel NIC in your environment and update ASAP..

[2020-07-29 10:14] vipinpv85 commented on #11
https://stackoverflow.com/questions/63145851/the-ports-always-returns-0-when-i-run-suricata-based-dpdk/63147204#63147204

@startkz not sure in your motives of having the ticket opened in stack overflow and not responding in GITHUB.

[2020-07-30 00:24] startkz commented on #11
Yes, the version is the latest. What can I do to add supoort for 1G Inter NIC and add the missing PMD in Ubuntu 16.04. I have installed DPDK-19.11.1 and run the examples successfully，includes skeleton/build/basicfwd and testpmd.

**And all NICs are available.**

[2020-07-30 01:13] startkz commented on #11
And I have also installed suricata successfully, and I can run suricata in other modes than dpdk-runmode. This is because that the function GetDpdkPort() returns 0 , then the Error logging SCLogError(SC_ERR_DPDK_CONFIG, " No DPDK ports found"). The GetDpdkPort() recalls the rte_eth_dev_count_avail(), in dpdk examples rte_eth_dev_count_avail() returns the ports I bind, but in suricata it always ret

[2020-07-30 02:22] vipinpv85 commented on #11
are you new to DPDK or have experience with DPDK and Makefile? I am happy to help you I can wait for you in skype, google hangout or zoom.

[2020-07-30 02:31] startkz commented on #11
Thank you for your help，Vipin. I am new to DPDK.
The skype chat site: _https://join.skype.com/Wg6hu4YnSL77_

[2020-07-30 03:28] vipinpv85 commented on #11
Live debug status update.

- shared the change to be added to Makefile.
- got updated with the screenshot. it is working.

[2020-08-02 20:54] rbalaji3 opened #12 "Issue getting Suricata to listen on DPDK ports"
Hello Vipin,
Was hoping you could help me with this. I setup DPDK Suricata according to your instructions but having issues getting Suricata to listen on DPDK ports. This is the issue I am getting:
![image](https://user-images.githubusercontent.com/43045529/89132155-e9d6c100-d4c6-11ea-90ff-2a19dd82b685.png)

When I run --list-dpdkports, this is the output I am getting, it appears that this is the

[2020-08-03 02:13] vipinpv85 commented on #12
please check the logs carefully, you have buffer overflow from Suricata code. I can help you if you can narrow down this to DPDK changes.

hint: Please check your environment for heap size,

[2020-08-03 02:13] #12 closed, assigned to rbalaji3

[2020-08-03 03:19] rbalaji3 commented on #12
Thanks for getting back. I checked my environment and I am seeing plenty of memory. Screenshot attached. Is there any other possibles causes for issues within my environment?
![image](https://user-images.githubusercontent.com/43045529/89142867-6d130980-d4fd-11ea-9521-14bb2136e79a.png)

[2020-08-03 03:58] vipinpv85 commented on #12
I think you are new to DPDK, Linux, and environment setup. I have shared already the `hint: Please check your environment for heap size,` Please fix your environment.

Once again I share `I can help you if you can narrow down this to DPDK changes.`

[2020-08-11 02:33] vipinpv85 commented on #12
are there any updates from your end? Have you checked you heap and stack size for your environment?

based on the update you have shared in Suricata forum you have progressed https://forum.suricata.io/t/suricata-not-logging-incoming-packets/476/6. I assume you have forgotten to update the ticket here. Hence marking your ticket as invalid.

[2020-08-19 08:15] lzskyline opened #14 "Suricata start failed: No DPDK ports found"
# suricata --dpdk
19/8/2020 -- 16:01:30 - <Notice> -  DPDK Mode selected
19/8/2020 -- 16:01:30 - <Notice> -  (name:suricatareassembly)
19/8/2020 -- 16:01:30 - <Notice> -  (n:8000)
19/8/2020 -- 16:01:30 - <Notice> - This is Suricata version 4.1.4 (rev 09ee165)
19/8/2020 -- 16:01:30 - <Error> - [ERRCODE: SC_ERR_DPDK_CONFIG(319)] -  No DPDK ports found

There are different from:
https://github.com/vi

[2020-08-19 08:23] lzskyline commented on #14
l2fwd example is worked.
![image](https://user-images.githubusercontent.com/9845170/90612038-15350c00-e23a-11ea-9845-9341ac5867aa.png)

[2020-08-19 10:10] vipinpv85 commented on #14
humbly suggesting to refer the https://github.com/vipinpv85/DPDK_SURICATA-4_1_1/blob/master/README.md.  There are no `mysuricata.cfg`

[2020-08-19 10:12] vipinpv85 commented on #14
this is more like https://github.com/vipinpv85/DPDK_SURICATA-4_1_1/issues/11. Hence marking this duplicate too.

[2020-08-19 10:12] #14 closed, assigned to lzskyline

[2020-08-19 10:29] lzskyline commented on #14
Yes, it's similar, could you please tell me how to modify the Makefile or configure.ac ?
just append "-lrte_pmd_e1000 -Wl" to "-lrte_pmd_i40e -Wl", then re-make it?

[2020-08-19 10:59] vipinpv85 commented on #14
Configure.ac is already having 'lrte_pmd_i40e -Wl'. What are you saying

[2020-08-19 11:11] vipinpv85 commented on #14
Your dpdk debugging is incorrect, there is no X710 ports in your system. Recheck your system configuration rather than assuming the cause of errors.

[2020-08-19 11:29] lzskyline commented on #14
![image](https://user-images.githubusercontent.com/9845170/90629355-d14e0100-e251-11ea-8428-1aa704b1abd2.png)
![image](https://user-images.githubusercontent.com/9845170/90629465-02c6cc80-e252-11ea-8c09-05dd94e805b3.png)
But I run the exmaple "l2fwd", it can send and receive data normally

[2020-08-19 12:06] vipinpv85 commented on #14
your DPDK debugging is incorrect, you do not have X710 (i40e) but you have X540 (not i40e). Please cross-check before you make assumptions.

[2020-08-20 06:18] lzskyline commented on #14
DPDK_LDFLAGS is override in configure.ac:1351, therefore "-lrte_pmd_ixgbe -Wl" is missing.
Add it and "make && make install"
problem solved.

[2020-08-20 06:55] vipinpv85 commented on #14
I humbly request to check what you are writing, as I have already communicated this

- your error is same as https://github.com/vipinpv85/DPDK_SURICATA-4_1_1/issues/11
- your debugging of missing dpdk driver is incorrect (as you are assuming it is i40e)

[2020-08-20 07:06] lzskyline commented on #14
you are right, but I didn't know which driver I should use, and there was no mention of how to modify makefiles in https://github.com/vipinpv85/DPDK_SURICATA-4_1_1/issues/11
just solved it and write there :P

[2020-09-28 10:23] coder-gao opened #15 "SC_ERR_DPDK_CONFIG(319) - No DPDK ports found"
hello, Vipin

Something wrong when  i run 'suricata --dpdk' : SC_ERR_DPDK_CONFIG(319)  -  No DPDK ports found
And try the command 'suricata --list-dpdkports' but  no ports display.
as follows:

![image](https://user-images.githubusercontent.com/29483273/94419658-ad1d0280-01b5-11eb-87b4-c6e5ea1c0754.png)

![image](https://user-images.githubusercontent.com/29483273/94419675-b0b08980-01b5-11eb-90c2-a

[2020-09-28 11:40] vipinpv85 commented on #15
before opening issues, please check in the issues list if similar problem has occurred before. You issue is same as  https://github.com/vipinpv85/DPDK_SURICATA-4_1_1/issues/11

[2020-09-28 11:40] #15 closed, assigned to coder-gao

[2020-10-07 08:16] chenchampion commented on #11
Dear Vipinpv85,

As your mentioned before, could you wrote down what's the problem with the startkz's environments? thank you very much.

[2020-10-07 09:11] vipinpv85 commented on #11
@chenchampion as explained in the comments the solution is shared in https://stackoverflow.com/questions/63145851/the-ports-always-returns-0-when-i-run-suricata-based-dpdk/63147204#63147204.

explanation: Starkz's environment consists of e1000 PMD. This is not included in DPDK build for suricata. We edited startk'z `configure.ac` to reflect the e1000 PMD and rebuild from scratch.

[2020-10-07 10:07] chenchampion commented on #11
It's helpful, thank you very much.

[2020-10-07 10:08] chenchampion commented on #11
It's helpful, thank you very much.

[2020-10-09 02:47] #11 closed, assigned to startkz

[2020-12-29 09:43] xifeng6 opened #16 "NIC packet drop increase when packet rate > 2Gpps"
Thanks for Vipin Varghese’s work.
Hardware:
Machine: Intel® Xeon® CPU Gold 5115 @ 2.40GHz
NIC: Ethernet Controller X722 for 10GbE SFP+ ( 2 * 10G), driverversion=2.4.6, firmware=3.33
SoftWare:
centos 7.8 dpdk-stable-19.11.4 DPDK_SURICATA-4_1_1
When I was testing suricata-dpdk, the packet loss of the network card continued to increase when the packet rate was greater than 2Gpps. Use perf to observe

[2020-12-29 10:49] vipinpv85 commented on #16
marking this as invalid, as same is opened in suricata discussion. I have already answered the same here [discussion](https://forum.suricata.io/t/discussion-for-dpdk-api-support-into-suricata/202/19)

[2020-12-29 10:49] #16 closed, assigned to xifeng6

[2021-01-07 08:51] vipinpv85 commented on #16
invalid, as successfully test with 4 * 10Gbps X710 on Xeon platform

![image](https://user-images.githubusercontent.com/1296097/103871821-8d21a700-50f3-11eb-89bf-2a499e8d3792.png)

[2021-02-17 08:20] farhan1303 opened #18 "*** buffer overflow detected ***"
i have installed DPDK_SURICATA-4_1_1. if i don't create .pid file directory (/usr/local/var/run/suricata) it works fine. but when i create the directory it gives buffer overflow and core dumps. below are the logs:

#########################################################################
16/2/2021 -- 23:58:21 - <Notice> -  DPDK Mode selected
16/2/2021 -- 23:58:21 - <Notice> -  (name:suricatareasse

[2021-02-17 08:36] vipinpv85 commented on #18
the logs you have shared contains no back trace. But these suricata log trace. Please run in GDB and share the back trace to identify the cause of the problem.

1.  it looks like either you have enabled `i40e PDM debug=y` or running with `eal-args` for logging as `--log-level=pmd,8`
2. also `*** buffer overflow detected ***: /home/ips/DPDK_SURICATA-4_1_1/suricata-4.1.4/src/.libs/lt-suricata termin

[2021-02-18 11:39] vipinpv85 commented on #18
@farhan1303 please udpate the ticket with the missing details and backtrace.

[2021-02-23 03:58] vipinpv85 commented on #18
marking this as invalid as there are no updates from @farhan1303

[2021-02-23 03:58] #18 closed, assigned to farhan1303

[2021-03-01 10:01] wjf1993 opened #19 "I have some questions about "Work item in discussion with SURICATA team to merge" in README.md"
You said that you didn't decide which mode to use. Have all three modes not been implemented in  DPDK_SURICATA-4_1_1?But i learn your open source and i think you has been implemented the frist mode(Primary (singleton/monolithic)).

thanks!

[2021-03-03 06:08] vipinpv85 commented on #19
thanks for your question, can you please share your reasoning or insights towards

1. why do you think  2 other modes are not done?
2. what are the missing pieces which make you believe so?

[2021-03-03 07:13] wjf1993 commented on #19
----------------------------------------------------------------
Thank you for your answer.
Bro,I'm so sorry for my incorrect question.I don't mean that you didn't implement Suricata for the other two models.Because I haven't read all your source code completely and i just read the dpdk part of your source code.So I still have a lot of details I haven't learned.
However,According to the other two

[2021-03-03 07:49] vipinpv85 commented on #19
Thank you for explaining the real question. My answer is `no I will not be giving a separate dpdk application or non-dpdk application for model-2 and model-3`. As model-2 and model-3 Suricata is a separate application and source code DPDK or non DPDK application need not be housed in suricata source code.

yes implemented and tested.

[2021-03-03 08:04] wjf1993 commented on #19
-----------------------------------------------------------------------------------------------------------------------------------------

Thank you bro.I learned from your answers.I always think model-1 is the best solution for suricata.
In fact, I'm working on a project more like model 2, which is based on dpdk to implement a protocol stack to process packets and realize functions like IPS/firew

[2021-03-03 08:06] #19 closed, assigned to wjf1993

[2021-06-28 10:35] ygm521 opened #20 "vmware vmxnet3 [ERRCODE: SC_ERR_DPDK_CONFIG(319)] - Failed to configure port [0]"
[root@localhost bin]# ./suricata --dpdk
28/6/2021 -- 17:29:45 - <Notice> -  DPDK Mode selected
28/6/2021 -- 17:29:45 - <Notice> -  (name:suricatareassembly)
28/6/2021 -- 17:29:45 - <Notice> -  (n:8000)
28/6/2021 -- 17:29:45 - <Notice> - This is Suricata version 4.1.4 RELEASE
28/6/2021 -- 17:29:46 - <Warning> - [ERRCODE: SC_ERR_NO_RULES(42)] - No rule files match the pattern /usr/local/var/lib/suri

[2021-06-28 15:56] vipinpv85 commented on #20
this is a very straightforward issue from PMD in use (vmxnet3). Humble request to explore and read about vmxnet capability from

- [http://doc.dpdk.org/guides/nics/overview.html](url) generic overview of NIC
- [http://doc.dpdk.org/guides/nics/vmxnet3.html](url) to identify the supported Offload.

[2021-06-28 15:56] #20 closed, assigned to ygm521, ZhangYiXi-dev

[2021-06-29 02:49] ygm521 commented on #20
What is the reason? Does it not support vmxnet3 and e1000 network cards? Or is it the cause of the configuration error?I think the point is that it is not available on the vmware virtual machine

[2021-06-29 03:41] vipinpv85 commented on #20
@ygm521 I do not follow you new question `what is the reason? Does it not support vmxnet3 and e1000 network cards? Or is it the cause of the configuration error?`  becasue

- based **on screenshot with no description**, I have shared you have to do for `vmxnet3`
- pointed 2 URL which helps you to understand.

For your second question `I think the point is that it is not available on the vmware vir

[2021-06-30 02:48] vipinpv85 commented on #20
Hope you have gone the DPDK documentation links to understand the vmxnet3 issue. If not here is my summary as per the documentation from DPDK 21.05

1. RSS supported in DPDK 21.05 - yes
2. RSS supported with VLAN offload - no
3. RX offload shared for port 0 is `0xe`
4. As per DPDK 21.05 code base ` #define DEV_RX_OFFLOAD_VLAN_STRIP  0x00000001`

Hence RSS config fails.

Possible fix
1. Edit yaml n

[2021-06-30 02:53] ygm521 commented on #20
@vipinpv85 Thank you, thank you, I'm already running it on vmware of centos 7 system。

[2021-06-30 02:57] ygm521 opened #21 "Can describe as IDS or IPS,how to build the network topology?"
Can describe as IDS or IPS, in the two scenarios, how to build the network topology? Can you give me an example? Thanks a lot.
This may help more people understand how to use ids and ips. It is best to solve the network problem with a computer

[2021-06-30 03:12] vipinpv85 commented on #20
ahh ok, good to hear now it is working, were you able to run with RSS?

[2021-06-30 03:33] ygm521 commented on #20
not use rss

[2021-08-12 02:29] Hotspot0Argus opened #22 "IPS mode pkt forward speed not increase as we increase thread number"
We use the IPS mode in server which has 2 NUMA node(64 cores in total).We set different number of thread in suricata.yaml --> DPDK -->[port-config-*]-->queues:**xx**. But the pkt forward speed decreased when xx is 7(Max Speed is 11.16Mbps when xx is 6). And when xx is 12, we get "net_mlx5: port 1 Rx queue allocation failed: Cannot allocate memory". Is there some special config in yaml we missed?

[2021-08-13 06:27] vipinpv85 commented on #21
all the details are present in readme, wiki and yaml dpdk section. this is same as suricata model of using IDS and IPS. this is not a bug.

If your intention is update readme, you can raise a feature request.

[2021-08-13 06:27] #21 closed, assigned to nobody

[2021-08-13 11:22] vipinpv85 commented on #22
share inforamtion for

1. lscpu
2. lshw -c net -businfo
3. numastat -p [pid of suricata]
4. gerp Huge /proc/meminfo

[2021-08-15 06:08] Hotspot0Argus commented on #22
Thank y you, the results are as followed:
`lscpu`
![image](https://user-images.githubusercontent.com/13831368/129468740-a7c3052b-88d5-4dbe-9371-fb6fe8667d6a.png)

`lshw -c net -businfo`
![image](https://user-images.githubusercontent.com/13831368/129463804-b58652f2-764c-44f5-80b1-0c3725b72be8.png)

`numastat -p [pid of suricata]: when port-config-x->queues=6`
![image](https://user-images.githubuser

[2021-08-18 03:17] vipinpv85 commented on #22
based on the information shared, I will have to assume

1. DPDK NIC card used is `ConnectX-4` which means the PCIe address are `0000:01:00.0 and 0000:01:00.1`.
2. Both NIC are on NUMA socket 0
3. Suricata is launched with Huge pages from NUMA Socket 0 as per **numastat**
4. But the yaml configuration for worker thread does not reflect NUMA=Socket 0 CPU, Please use the correct CPU core from numa-so

[2021-08-18 06:13] Hotspot0Argus commented on #22
Thank you for your patient! We will check problems mentioned above.

Moreover, during our experiment we found that `ConnectX-4 NIC` will drop 2/3 of all pkts(checked by `ifconfig` ) in 14Mpps liner speed without any NIC config(no dpdk, no pkt receiver app and OS is reloaded ). And the ethtool -S show  this problem is caused by `RX_OUT_OF_BUFFER`. Does this mean we cannot use traditional pkt captur

[2021-08-18 07:24] vipinpv85 commented on #22
this is indeed a useful observation, looks like `Connectx-4` is dropping packets on ASIC.  My humble suggestion is check the pcie config for link status and check SMP_Affinity if the interrupts are pinned to NUMA-Socket-0.

Note: from current observation, I think this is more of a platform related setup issue.

[2021-08-19 01:37] Hotspot0Argus commented on #22
You really give us a clear direction to dig into. And we will check  platform attribute releated to CPU, OS and hardware.
According to the reply above _`But the yaml configuration for worker thread does not reflect NUMA=Socket 0 CPU, Please use the correct CPU core from numa-socket 0 (assuming DPDK ports in use are connectx-4)`_ do you mean we can only use 32 cores located in NUMA 0 in **SURICATA-

[2021-08-20 05:16] vipinpv85 commented on #22
[@Hotspot0Argus] do you mean we can only use 32 cores located in NUMA 0 in SURICATA-DPDK?
[Answer] that is correct, please edit worker threads appropriately.

[@Hotspot0Argus] We have a test about DPDK l3fwd sample, the result is we can use all cores (4 cores are enough) to reach 10Gbps L3 forward. So we guess our problem may caused by RSS or other hidden key point, can you give us some suggestion

[2021-08-20 05:16] #22 closed, assigned to Hotspot0Argus

[2021-11-22 12:39] AqsaKashaf opened #23 "Clarification?"
Hi,

I was not able to understand what does PKT emptyrx  in the stats mean?

[2022-03-21 02:38] skshtshw opened #24 "[ERRCODE: SC_ERR_DPDK_CONFIG(319)] - Failed to setup Ports!"
suricata --dpdk

20/3/2022 -- 19:20:18 - <Notice> -  addr_dst_match4_cnt 1 addr_src_match4_cnt 1 addr_dst_match6_cnt i1 addr_src_match6_cnt 1
20/3/2022 -- 19:20:18 - <Notice> -  IPV4
20/3/2022 -- 19:20:18 - <Notice> -  0:ffffffff
20/3/2022 -- 19:20:18 - <Notice> -  0:ffffffff
20/3/2022 -- 19:20:18 - <Notice> - -----------------------
20/3/2022 -- 19:20:18 - <Notice> -  IPV6
20/3/2022 -- 19:20:18 -

[2022-03-24 03:38] vipinpv85 commented on #24
thanks for your query. please find my answers below

- this is not a bug or issue
- based on testpmd logs, ooks liek you are running in avm with e1000 nic or running.
- current PMD build and tested with are `-Wl,-lrte_pmd_af_packet -Wl,-lrte_pmd_i40e -Wl,-lrte_pmd_memif -Wl,-lrte_pmd_null -Wl,-lpcap -Wl,-lrte_pmd_ring -Wl,-lrte_pmd_tap -Wl,-lrte_pmd_virtio -Wl,-lrte_bus_vmbus`

Hence if you want t

[2022-03-24 03:38] #24 closed, assigned to skshtshw

[2022-03-24 03:39] vipinpv85 commented on #23
Please rephrase your question `what does PKT emptyrx in the stats mean`. It is not clear to me.

[2022-06-12 07:50] ZhangYiXi-dev commented on #20
hello，how to not use rss，i just let queues=1 in yaml,but it can't works
Ethdev port_id=0 invalid rss_hf: 0x3bffc, valid value: 0x0
12/6/2022 -- 15:49:52 - <Error> - [ERRCODE: SC_ERR_DPDK_CONFIG(319)] - Failed to configure port [0]
12/6/2022 -- 15:49:52 - <Error> - [ERRCODE: SC_ERR_DPDK_CONFIG(319)] -  Failed to setup Ports!
12/6/2022 -- 15:49:52 - <Error> - [ERRCODE: SC_ERR_DPDK_CONFIG(319)] -  Fa

[2022-06-12 08:16] ZhangYiXi-dev opened #25 "vmware centos7 e1000 Failed to configure port [0]"
hello,firstly,i have added -Wl,-lrte_pmd_e1000 in configure.ac , and i set queues=1 in yaml(because e1000 can't support rss),then i run it,it will "Ethdev port_id=0 nb_tx_queues=2 > 1" , so i set txq_count=1 , then :Ethdev port_id=0 invalid rss_hf: 0x3bffc, valid value: 0x0
![image](https://user-images.githubusercontent.com/83794882/173223902-fb312efd-0ac4-4a21-ab7f-4c03736d1719.png)

and l2fwd ca

[2022-06-14 10:28] #25 closed, assigned to ZhangYiXi-dev

[2022-06-14 10:31] ZhangYiXi-dev commented on #25
i have solved it,the e1000 can't support rss,so delete the code of rss,and let rss_hf=0

[2022-06-14 11:14] vipinpv85 commented on #23
no updates. hence closing

[2022-06-14 11:14] #23 closed, assigned to AqsaKashaf

[2022-06-14 11:19] vipinpv85 commented on #25
But confused with the request as the code already takes care of this

[code]

[2022-06-14 11:20] vipinpv85 commented on #25
without analyzing I can not reply. But since the work around worked for you I am ignoring.

[2022-06-14 12:03] ZhangYiXi-dev commented on #25
thank you for your response! the process of slove my problem is:
firstly the error is  : Ethdev port_id=0 nb_tx_queues=2 > 1,so i let txq_count=1 or 0

then,the error is Ethdev port_id=0 invalid rss_hf: 0x3bffc, valid value: 0x0 , i think because can't supports rss ,so i delete the picture below:
![image](https://user-images.githubusercontent.com/83794882/173571530-df139d15-34fc-4663-8e0c-4ffb1cb2

[2022-06-14 12:07] ZhangYiXi-dev commented on #25
thank you for your response! the process of slove my problem is:
firstly the error is : Ethdev port_id=0 nb_tx_queues=2 > 1,so i let txq_count=1 or 0

then,the error is Ethdev port_id=0 invalid rss_hf: 0x3bffc, valid value: 0x0 , i think because can't supports rss ,so i delete the picture below:
![image](https://user-images.githubusercontent.com/83794882/173573132-bbd482a4-bbb6-4a79-9bf6-ce8093598

[2022-06-14 12:10] vipinpv85 commented on #25
Couple of things to consider

1. RSS is for RX queue
2. The code checks for rx queue count==1 and disable RSS

hence to disable RSS for your use case with has 1 RXQ it will work.

I do not understand what you are explaining with respect to TXQ.

[2022-06-14 12:48] vipinpv85 commented on #20
if one sets queues to 1, RSS is disabled. SO in the YAML file my expectation is

[code]

Hence without the right configuration you can not expect the right result.